.section3 h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 7.875rem;
    font-size: 2.5rem;
    color: rgb(31, 15, 47);
}
.section3 h1:hover{
    text-shadow: .125rem .125rem .625rem rgb(24, 23, 23);
    transition: 0.5s;
}
.courses{
    display: flex;
    column-gap: 1.875rem;
}
.course1{
    border: .0625rem solid red;
    margin-left: .625rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    border-radius: 1.25rem;
}
.course1:hover{
    box-shadow:  0 0 1.25rem rgb(255, 102, 0);
    transform: translateY(-0.625rem);
    background-color: rgba(234, 228, 228, 0.454);

    transition: 1s ;
}
.course1 .logo img{
    margin-left: .625rem;
    border-radius: .625rem;
}
.course1-heading{
    width: 12.5rem;
    margin-left: .625rem;
    margin-top: .625rem;
    margin-bottom: .625rem;
    color: black;
    font-weight: bold;
    font-size: 1.625rem;
}
.course1-data{
    margin-left: .625rem;
    margin-right: .625rem;
    max-width: 25rem;
}
.course1-button button{
    border: none;
    border-radius: .625rem;
    padding: .625rem 1.25rem;
    background-color: rgb(255, 98, 0);
    color: white;
    font-weight: bold;
    margin-left: .625rem;
}
.course1-button button:hover{
padding: .75rem 1.4375rem;
box-shadow: 0 0 1.25rem orangered;
transition:padding 0.5s ;
}.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1.875rem;
}


@media (max-width: 62.1875rem) {
    .courses {
        grid-template-columns: 1fr 1fr; 
    }
}
@media (max-width: 43.75rem) {
    .courses {
        grid-template-columns: 1fr;
        margin-left: 5rem;
        margin-right: 6.25rem;
    }
}

@media (max-width: 31.25rem)
{
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}